.downloadButton {
  background-color: var(--link-color);
  padding: 8px 12px;
  color: var(--fill-color);
  border-radius: 8px;
  border: 1px solid #ffffff;
  font-size: 14px;
  font-weight: 600;
  box-shadow: var(--boxShadow);
}
.downloadButton:hover {
  background-color: var(--hover-color);
  color: var(--fill-hover);
}
.paraStatus {
  color: rgb(93, 241, 93);
  margin-top: 20px;
  text-align: center;
}
