.homeContainer {
  background-image: var(--gradient-color);
  height: 100%;
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  row-gap: 20px;
  box-shadow: var(--boxShadow);
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-right: 2px solid var(--link-color);
  border-bottom: 2px solid var(--link-color);
  border-radius: 20px;

  @media (min-width: 768px) {
    flex-direction: row;
    padding: 200px 0;
  }
  .homeImage {
    box-shadow: var(--boxShadow);
    border-top-left-radius: 35%;
    border-bottom-right-radius: 35%;
    margin-right: 10px;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid var(--link-color);
    border-bottom: 2px solid var(--link-color);
  }

  @media (min-width: 1200px) {
    height: 85vh;
    margin-right: auto;
  }
}

.homeDetails {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;

  @media (min-width: 768px) {
    align-items: flex-start;
  }
}

.homeName {
  font-size: 40px;
  border-bottom: 3px solid var(--link-color);

  @media (min-width: 1024px) {
    font-size: 60px;
  }
}

.homeText {
  font-size: 16px;
  margin-left: 80px;

  @media (max-width: 768px) {
    font-size: 18px;
    margin: 0;
  }
}
.socialHolder {
  margin-left: 100px;

  @media (max-width: 768px) {
    margin: 0;
  }
}
