.header {
  background-color: var(--bodyBackground);
  color: var(--primary-text-color);
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
  margin-bottom: 16px;
  box-shadow: var(--boxShadow);
}

.hamburgerIcon {
  display: flex;

  @media screen and (min-width: 768px) {
    display: none;
  }
}
