/* Custom Font */
@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=Merienda:wght@300..900&family=Oswald:wght@200..700&display=swap');

/* CSS VARIABLES */
:root {
  --bodyBackground: white;
  --foreground-color: rgb(9, 9, 231);
  --primary-text-color: #0a0a0a;
  --secondary-text-color: #ffffff;
  --toggle-bg: #f2f6f2;
  --toggle-fg: #ffd000;
  --textShadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  --boxShadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  --gradient-color: rgba(255, 255, 255, 0.6);

  --hover-color: #23f1f1;
  --link-color: #007fff;
  --fill-color: #f0f8ff;
  --fill-hover: #100c08;
}

[data-theme='dark'] {
  --hover-color: #007fff;
  --link-color: #23f1f1;
  --fill-color: #010b13;
  --fill-hover: #f0f8ff;

  --bodyBackground: #111111;
  --foreground-color: #007fff;
  --primary-text-color: white;
  --secondary-text-color: #0a0a0a;
  --toggle-bg: #edf2f4;
  --toggle-fg: #ffd000;
  --textShadow: 2px 2px 4px rgba(7, 239, 251, 0.8);
  --boxShadow: 0 2px 4px rgba(2, 255, 247, 0.8);
  --gradient-color: linear-gradient(
    to top,
    #111111,
    #343434,
    #111111,
    #111111,
    #111111,
    #343434,
    #111111
  );
}

body {
  background-color: var(--bodyBackground);
  color: var(--primary-text-color);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: linear-gradient(
    to right,
    #e5e4e2,
    #555555,
    #ffffff,
    #bebfc5,
    #8b8589,
    #555555,
    #2a3439
  ); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
